*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

img{
    max-width: 100%;
}

/* custom properties */

:root{
    --primary-color: #fcf5e9;
    --container-normal: 1100px;
    --container-lg: 1400px;
    --container-sm: 900px;
}

/* utilities section */

.bg-primary{
    background-color: var(--primary-color);
}

/* container */

.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg{
    max-width: var(--container-lg);
}

.container-sm{
    max-width: var(--container-sm);
}

/* Header Section */

.header .logo{
    width: 130px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu{
    display: flex;
    gap: 1rem;
}

.header .main-menu a{
    padding: 0.5rem 1 rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.current{
    background: var(--primary-color);
    font-weight: 600;
}

/* hero section */

.hero{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}

.gallery-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item{
    width: calc(33.333% - 20px);
}

.gallery-item:hover{
    opacity: 0.8;
}

.gallery-item img{
    border-radius: 10px;
}

.footer{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex img{
    width: 130px;
    height: 35px;
}

.footer h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer a{
    margin-bottom: 0.2px;
}


/* Responsive section */

@media (max-width: 768px){
    .header-flex,
    .footer-flex{
        flex-direction: column;
        gap: 1rem;

    }

    .hero{
        height: 300px;
    }

    .hero h2{
        font-size: 2rem;
    }

    .gallery-item{
        width: calc(50% - 20px);
    }

    .footer .footer-flex{
        text-align: center;
    }
}



