*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

img{
    max-width: 100%;
}

/* custom properties */

:root{
    --primary-color: #fcf5e9;
    --container-normal: 1100px;
    --container-lg: 1400px;
    --container-sm: 900px;
}

/* utilities section */

.bg-primary{
    background-color: var(--primary-color);
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-dark, .bg-primary{
    padding: 0 0.3rem;
}

.section-heading{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* container */

.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg{
    max-width: var(--container-lg);
}

.container-sm{
    max-width: var(--container-sm);
}

/* Header Section */

.header{
    margin-bottom: 50px;
}

.header .logo{
    width: 130px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu{
    display: flex;
    gap: 1rem;
}

.header .main-menu a{
    padding: 0.5rem 1 rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.current{
    background: var(--primary-color);
    font-weight: 600;
}

/* hero section */

.hero{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}

.gallery-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item{
    width: calc(33.333% - 20px);
}

.gallery-item:hover{
    opacity: 0.8;
}

.gallery-item img{
    border-radius: 10px;
}

.footer{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex img{
    width: 130px;
    height: 35px;
}

.footer h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer a{
    margin-bottom: 0.2px;
}

/* Styles for about page */

/* service section */

.services{
    color: #fff;
    padding: 3rem;
}

.services-flex{
    display: flex;
    gap: 2rem;
}

.services-item h4{
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

/* team section */

.team{
    padding: 3rem 0 4rem;
}

.team-flex{
    display: flex;
    gap: 20px;
}

.team img{
    border-radius: 10px;
}

.contact{
    padding: 3rem 0 4rem;
}

.contact p{
    text-align: center;
    margin-bottom: 2rem;
}

.form-group{
    margin: 2rem 0;
}

.contact input,
.contact textarea{
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    padding-bottom: 1rem;
    font-family: inherit;
    font-size: inherit;
}

.contact input:focus,
.contact textarea:focus{
    outline: 0;
}

.contact textarea{
    height: 150px;
    resize: none;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #333;
    border-radius: 10px;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn:hover{
    background: #333;
    color: #fff;
}

/* Responsive section */

@media (max-width: 768px){
    .header-flex,
    .footer-flex,
    .services-flex,
    .team-flex{
        flex-direction: column;
        gap: 1rem;

    }

    .hero{
        height: 300px;
    }

    .hero h2{
        font-size: 2rem;
    }

    .gallery-item{
        width: calc(50% - 20px);
    }

    .footer .footer-flex{
        text-align: center;
    }
}



