*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

img{
    max-width: 100%;
}

/* Utility Classes */

.bg-primary{
    background-color: #fcf5e9;
}

/* container */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg {
    max-width: 1400px;
}

.container-sm {
    max-width: 900px;
}

.header .logo{
    width: 130px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu{
    display: flex;
    gap: 1rem;
}

.header .main-menu a{
    padding: 0.5rem 1 rem;
}

.header .main-menu a:hover {
    background: #fcf5e9;
}

.current{
    background: #fcf5e9;
    font-weight: 600;
}

.hero{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}


@media (max-width: 768px){
    .header-flex{
        flex-direction: column;
        gap: 1rem;

    }

    .hero{
        height: 300px;
    }

    .hero h2{
        font-size: 2rem;
    }

}



